Wildcard support?

Hello,

Thank you for this great library. So what happens if I input:

const order = await account.createOrder({
  domains: ["fishball.app", "*.fishball.app"],
});

You mention that widcard is not yet supported because of some missing crypto code for the generated certificates?

Hello @gregoiregentil, 👋 

Thanks for filing this issue, and I’m glad you’ve found the library useful.

You’re right. Wildcard domains (*.fishball.app) aren’t supported yet. If you include one, the order won’t work as expected. According to [RFC 8555 section 7.1.4](https://datatracker.ietf.org/doc/html/rfc8555/#section-7.1.4), the authorization request must include a wildcard: true field, which we currently don't add.

It shouldn’t be too difficult to implement, but I’ve been busy with other things and haven’t had the time to prioritise it. I’d definitely welcome a PR if you’re interested in contributing, or I’ll try to get to it when I can.

Thanks again for the feedback!

Curious, what are you building currently with `@fishballpkg/acme`?